.btn {
    margin: 0.5rem;
    padding: 0.5rem;
}

.logo {
    margin-right: 5rem;
}

.links {
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0.5rem;
    padding: 0.5rem;
}

.navbar {
    /* background-color: bisque; */
    display: grid;
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
    justify-content: center;
    /* margin: 1rem;
    padding: 1rem; */

}

.navbar img {
    /* background-color: aquamarine; */
    margin: 0.5rem;
    padding: 0.5rem;
}

  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
    /* Used in this example to enable scrolling */
  }
  .container {
    display: flex;
    flex-direction: column;
}
p {
    font-size: 18px;
}